<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/my-photo.jpg" alt="Muhammad Aulia Akbar" class="img-tumbnail rounded-circle" width="200px">
            <h1 class="display-4">Muhammad Aulia Akbar</h1>
            <p class="lead">
                Student
            </p>
        </div>
    </div>
</div>