<!DOCTYPE html>
<html lang="en">

    <h1>Ini Adalah File Index dalam Express</h1>
    <h2>Halo <%= nama  %></h2>

    <h2>Daftar Mahasiswa</h2>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama: <%= mhs.nama %></li>
            <li>Email: <%= mhs.email %> </li>
        </ul>
    <% });  %>